.affix {
  top: 10px;
}

.sidenav-wrap {
  position: relative;
}

.sidenav {
  width: 200px;
  font-size: 15px;
  padding: 0;
  border: 1px solid #E5E5E5;
  @include border-radius(6px);
  @include breakpoint(830px) {
    width: 180px;
  }
  @include breakpoint(medium) {
    width: 100%;
    margin: 0 0 30px 0;
    position: relative;
  }
  li {
    margin: 0;
    padding: 0;
    background-image: none;
    border-bottom: 1px solid #E5E5E5;
    &:before {
      content: none;
    }
    &:last-of-type {
      border-bottom: none;
      a {
        @include border-radius(0 0 6px 6px);
      }
    }
    &:first-of-type {
     a {
      @include border-radius(6px 6px 0 0);
     }
    }
    &.selected {
      a {
        background: $primary-color;
        color: #fff;
      }
    }
  }
  a {
    color: #000;
    width: 100%;
    display: block;
    padding: 10px 20px;
    &:hover {
      background: $primary-color;
      color: #fff;
    }
  }
}

ul.subnav {
  font-size: 16px;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 20px 0 20px 40px;  
  margin-bottom: 40px;
  li {
    padding: 2px 0;
    &:before {
      content: '\2022';
      color: #F89641;
      font-size: 14px;
      margin: 12px 0 0 0;
      line-height: 0;
      padding-right: 15px;
    }
  }
  @include breakpoint(small) {
    padding: 10px 0 20px 0;
  }
}
