.question {
    margin-top: -55px;
    margin-bottom: 14px;
    background-position: center bottom -2px;
    background-repeat: no-repeat;
    @include breakpoint(small) {
        margin: 0;
        padding: 0;
        display: none;
        background-image: none;
        .pulse {
            display: none;
        }
    }
}

.phone-drop {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
    form {
        margin-left:0;
    }
}

// this isn't in the markup on page load
.my_deductible {
    text-align: center;
    h2 {
        margin: 20px 0 5px 0;
        font-size: 50px;
        line-height: 40px;
        @include breakpoint(small) {
            font-size: 27px;
        }
    }
    .phone p {
        margin: 20px auto 0 auto;
        padding: 8px 0;
        max-width: 80%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        color: #aaa;
        font-size: 18px;
        font-family: $font-medium;
        @include breakpoint(small) {
            font-size: 15px;
        }
    }
    a:last-of-type {
        display: inline-block;
        margin: 20px 0 30px 0;
        font-size: 15px;
        font-family: $font-medium;
        color: $primary-color;
    }
    a.btn.btn-primary {
      margin: 20px 0 0 0;
      color: #fff;
    }
}

.secondary-call {
  z-index: 900;
  text-align: center;
  line-height: 100%;
  @include breakpoint(small) {
    padding: 0;
    font-size: 14px;
    min-height: 215px;
    height: auto;
  }
  h3, a, p {
    color: #fff;
  }
  p {
    clear: both;
    @include breakpoint(small) {
      margin:0 0 20px;
    }
  }
  .deductible-call {
    display: inline-block;
    p {
      margin: 10px 0 2px 0;
    }
  }
}

.deductible-call {
  margin: 15px 0 0 0;
  p {
    font-size: 14px;
  }
  a {
    text-decoration: underline;
    font-family: $font-medium;
  }
}
