// Bootstrap Modals

.modal-backdrop {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-backdrop.fade {
  background-color: rgba(0, 0, 0, 0.0);
  @include transition(opacity, .3s ease);
}

.modal-backdrop.fade.in {
  background: rgba(0, 0, 0, 0.8);
}

.modal-backdrop.in, .modal-backdrop.fade.in {
  @include opacity(1);
}

html.lt-ie9 {
  .modal-backdrop.in, .modal-backdrop.fade.in {
    background: url('../images/modal-bg.png') repeat;
    filter: none;
  }
}

.modal-wrapper {
  position: relative;
  top: 50px;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  margin-bottom: 100px;
  overflow: visible;
}

.modal-wrapper .modal {
  position: static;
  margin: 0;
  z-index: 1060;
}

.modal-header {
  h4 {
    text-align: center;
  }
  h2 {
    margin: 0;
    color: #069;  
    letter-spacing: 0;
    font-size: 24px;
    font-family: $font-medium;
    line-height: 30px;
    text-align: center;
  }
  .modal-body h5 {
    color: #069;
  }
}
.modal-body {
  max-height: 440px;
  padding: 15px 15px 15px 15px;
  overflow-y: scroll;
  @include breakpoint(small) {
    max-height: 300px;
  }
  p {
    padding: 10px 40px;
    @include breakpoint(small) {
      padding: 10px 20px;
    } 
  }
  .info {
    padding: 0;
    color: #999;
    text-align: center;
    font-size: 12px;
  }
  li {
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 14px;
    line-height: 120%;
    @include breakpoint(small) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.close {
  float: right;
  @include transition(all .3s ease);
}

.modal-body ul,
.modal-body ol {
  padding: 0;
  margin: 20px 0 20px 25px;
}

.modal-body li {
  margin-bottom: 10px;
}

.modal-footer {
  text-align: center;
  padding: 14px 15px 15px;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  @include border-radius(0 0 6px 6px);
  @include box-shadow(inset 0 1px 0 #fff);
}
