.shipping {
    position: relative;
    min-height: 287px;
    height: 355px;
    background-size: 120%;
    background-color: #a3a3a3;
    color: #fff;
    margin-top: 0px;
    background-repeat: no-repeat;
    h3 {
        margin: 30px auto 20px auto;
        text-align: center;
        color: #fff;
    }
    @include breakpoint(small) {
        height: 330px;
    }
}

// Table within shipping section

.shipping-table {
    margin: 0 auto;
    max-width: 600px;
    @include breakpoint(smallest) {
        margin-bottom: 10px;
    }
    th {
        font-family: $font-medium;
        padding: 25px 25px 5px 25px;
        border-top: 1px solid #fff;
        @include breakpoint(small) {
            padding: 5px 10px;
        }
    }
    td {
        width: 50%;
        vertical-align: top;
        padding: 8px 25px 5px 25px;
        color: #fff;
        p {
            color: #fff;
            margin: 0;
            font-size: 16px;
            line-height: 19px;
            b {
                @extend .bold;
            }
        }
        @include breakpoint(small) {
            padding: 8px 10px 5px 10px;
            p {
                font-size: 13px;
            }
        }
    }
    tr {
        border-bottom: 1px solid #fff;
        border-bottom: 1px solid rgba(255, 255, 255, .4);
        &.last {
            border-bottom: none;
        }
        .border-left {
            border-left: 1px solid #fff;
            border-left: 1px solid rgba(255, 255, 255, .4);
        }
    }
}
